

      <!-- {% if student.student_id %}
                <p>Student found</p>
            {% endif %}           -->
<div id="register-content">
<div class="card base-100 w-fit py-8 shadow-lg px-8 rounded-lg bg-white dark:bg-dark">
    <div class="">
        <div class="text-center">
            <p class="text-2xl font-bold">Email Verification</p>
            <p class="text-slate-500 text-sm mt-2">Enter the OTP sent to your email {{ e_email }}</p>
        </div>

      <div class="py-4 space-y-4">

        {% if form_error %}
        <div role="alert" class="alert alert-error alert-soft">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>{{ form_error }}</span>
        </div>
        {% endif %}
        <form
         method="post" 
         id="otp-form" 
         hx-post="{% url 'verify-otp' %}" 
         hx-swap="outerHTML"
         hx-target="#register-content"
         hx-trigger="submit delay:2000ms"
         class="flex gap-2 my-8">
            {% csrf_token %}
         <input type="hidden" name="student_id" value="{{ student.student_id }}">
         <input type="hidden" name="student_email" value="{{ student.email }}"> 
        {% for i in "123456" %}
          <input type="text" maxlength="1" name="otp-{{ forloop.counter }}" autocomplete="off"
            class="shadow-xs flex w-[64px] items-center justify-center rounded-lg border border-stroke bg-white p-2 text-center text-2xl font-medium text-gray-5 outline-hidden sm:text-4xl dark:border-dark-3 dark:bg-white/5" />
        {% endfor %}
        </form>
        
        <div class="mb-4">
            <button form="otp-form" type="submit" class="btn btn-primary w-full" onclick="showSpinner(event)">
              <span id="btnText">Continue</span>
              <span class="loading loading-spinner" id="spinner" style="display: none;"></span>
            </button>
        </div>
        <p class="text-center text-sm text-slate-500">Didn't receive code? <span class="text-blue-500">Resend Code</span></p>
      </div>
    </div>
</div>
<script>
  document.body.addEventListener("htmx:afterSwap", (e) => {
    // Only run for specific target (optional)
    if (!e.target.querySelector("#otp-form")) return;

    const form = document.getElementById("otp-form");
    if (!form) return;

    const inputs = [...form.querySelectorAll("input[type=text]")];

    const handleKeyDown = (e) => {
      if (
        !/^[0-9]{1}$/.test(e.key) &&
        e.key !== "Backspace" &&
        e.key !== "Delete" &&
        e.key !== "Tab" &&
        !e.metaKey
      ) {
        e.preventDefault();
      }

      if (e.key === "Delete" || e.key === "Backspace") {
        const index = inputs.indexOf(e.target);
        if (index > 0) {
          inputs[index - 1].value = "";
          inputs[index - 1].focus();
        }
      }
    };

    const handleInput = (e) => {
      const { target } = e;
      const index = inputs.indexOf(target);
      if (target.value) {
        if (index < inputs.length - 1) {
          inputs[index + 1].focus();
        }
      }
    };

    const handleFocus = (e) => {
      e.target.select();
    };

    const handlePaste = (e) => {
      e.preventDefault();
      const text = e.clipboardData.getData("text");
      if (!new RegExp(`^[0-9]{${inputs.length}}$`).test(text)) return;
      const digits = text.split("");
      inputs.forEach((input, index) => (input.value = digits[index]));
    };

    inputs.forEach((input) => {
      input.addEventListener("input", handleInput);
      input.addEventListener("keydown", handleKeyDown);
      input.addEventListener("focus", handleFocus);
      input.addEventListener("paste", handlePaste);
    });
  });
</script>
</div>